<header>
  <h1>Bienvenue</h1>
  <nav>
    <ul class="navlist">
      
      <li class="navlist-item">
        <a href="/">Mario Kart !!</a>
      </li>
      <li class="navlist-item">
        <a href="/characters">List of Characters</a>
      </li>
      <li class="navlist-item">
        <a href="/random-character">Random character</a>
      </li>
    </ul>
  </nav>
</header>