<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %>

<body>
  <%- include('partials/header') %>
  <main>
    <h2>Mario Kart Characters</h2>
    <ul class="charlist">
      <% for(const character of characters) { %> 
        <li class="charlist-item">
          <a href="/characters/<%- character.idName %> "><%- character.name %> </a>
        </li>
      <% } %> 
    </ul>
  </main>
</body>

</html>