<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %> 

<body>
  <%- include('partials/header') %> 

  <main class="home">
    <div class="home-deco">
      <img src="/img/lakitu.webp" al="Picture of Lakitu on his cloud">
    </div>
    <h2>Yeay!</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti eos dolore, molestiae aliquid ut, qui nulla distinctio nam, mollitia aperiam eligendi atque? Iste sunt nesciunt quam minus qui, tempora totam!</p>
  </main>
</body>

</html>